@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
main p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 20px;
   line-height: 2em;;
   font-size: 1em;
}
main strong {
    color: rgb(7, 174, 10);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: green;
    background-color: greenyellow;
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: rgb(6, 177, 38);
}

body{
    background-color: rgb(76, 216, 169);
 
}
a.externo::after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(rgb(7, 204, 82), rgba(0, 0, 0, 0.608));
    min-height: 150px;
    padding-top: 40px;
    
    
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    box-shadow: 0px, 7px, 7px, black;
    
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: rgb(42, 196, 144);
    color: green;
}
header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow:2px 2px 1px rgba(0, 0, 0, 0.455);
    margin-bottom: 20px;
}
header > p {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow:2px 2px 1px rgba(0, 0, 0, 0.438);
    padding-bottom: 50px;

}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.707);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}
div#video {
    background-color: rgb(6, 107, 6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
h2 {
    color:rgb(4, 121, 37)
}
h3 {
    color: rgb(4, 121, 37);
    background-image: linear-gradient(to right, rgba(97, 224, 97, 0.836), white);
}
em {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
#image {
    text-align: center;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
abbr {
    text-decoration: none;
}
aside {
    background-color: rgb(41, 216, 146);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.477);
}
aside > ul {
list-style-position: inside;
columns: 2;
list-style-type: '\1F5F8\00A0\00A0';
}
aside > h3 {
    background-color: green;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
footer {
    background-color: rgb(7, 204, 82);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;

}
footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer > p > a:hover {
    text-decoration: underline;
    color: greenyellow;
    
}
